@use "sass:math";

.onetour {
  display: flex;
  row-gap: 5px;
  flex-direction: column;
  border-top: 1px solid rgba(0, 0, 0, 0.2);

  &:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  &_show {}

  @media (min-width: 767.98px) {
    column-gap: 10px;
    padding: 28px 0px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: 1875px) {
    column-gap: 15px;
    padding: 40px 0px;
  }

  &__title {
    @media (min-width: 767.98px) {
      flex: 0 0 145px;
    }

    @media (min-width: 1280px) {
      flex: 0 0 345px;
    }

    @media (min-width: 1875px) {
      flex: 0 0 445px;
    }
  }

  &__link {
    text-align: start;
    display: flex;
    line-height: math.div(28, 26);
    letter-spacing: -0.035em;
    padding: 20px 0px;
    font-size: 16px;
    width: 100%;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;

    &::before {
      font-size: 11px;

      .onetour_show & {
        transform: rotate(-180deg);
      }
    }

    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }

    @media (min-width: 374.98px) {
      padding: 28px 0px;
      font-size: 20px;
    }

    @media (min-width: 767.98px) {
      padding: 0px;
      font-size: 16px;
      flex-direction: row;
      display: inline-flex;
      width: auto;

      &::before {
        display: none;
      }
    }

    @media (min-width: 1875px) {
      font-size: 26px;
    }
  }

  &__body {
    display: none;

    .onetour_show & {
      display: block;
    }

    @media (min-width: 767.98px) {
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
    }
  }

  &__content {

    @media (max-width: 767.98px) {
      padding-bottom: 59%;
      position: relative;

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }

    @media (max-width: 375.98px) {
      padding-bottom: 95%;
    }

    @media (min-width: 767.98px) {
      display: flex;
      align-items: center;
      column-gap: 20px;
      flex: 1 1 auto;
    }
  }

  &__stars {
    display: inline-flex;
    align-items: center;
    gap: 5px;

    @media (max-width: 767.98px) {
      padding: 10px 15px;
      background-color: #F7F7F7;
      position: relative;
      z-index: 2;
    }
  }

  &__icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    background-color: #000;
    color: #fff;
    position: relative;
    z-index: 1;


    &_active {
      opacity: 0.4;
    }

    flex: 0 0 25px;
    width: 25px;
    height: 25px;
    font-size: 30px;

    @media (min-width: 1280px) {
      flex: 0 0 35px;
      width: 35px;
      height: 35px;
      font-size: 40px;
    }
  }

  &__meta {
    @media (min-width: 767.98px) {
      position: relative;
    }
  }

  &__description {

    @media (max-width: 767.98px) {
      font-size: 20px;
    }

    @media (min-width: 767.98px) {
      opacity: 0.5;
    }

    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;

        +.onetour__map {
          transform: translate(0px, -50%) scale(1);
        }
      }
    }
  }

  &__map {

    @media (max-width: 767.98px) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    @media (min-width: 767.98px) {
      min-width: 130px;
      min-height: 145px;
      position: absolute;
      top: 50%;
      left: 100%;
      transition: transform 0.3s ease 0s;
      transform: translate(0px, -50%) scale(0);
    }

    @media (min-width: 1875px) {
      min-width: 190px;
      min-height: 220px;
    }

    img {
      object-fit: cover;
    }
  }

  &__actions {
    @media (max-width: 767.98px) {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }
  }

  &__footer {
    display: inline-flex;
    align-items: center;
    text-align: start;
    letter-spacing: -0.075em;
    line-height: math.div(28, 26);
    font-size: 16px;
    white-space: nowrap;
    column-gap: 10px;

    @media (min-width: 374.98px) {
      font-size: 20px;
      column-gap: 15px;
    }

    @media (min-width: 767.98px) {
      font-size: 16px;
      column-gap: 20px;
    }

    @media (min-width: 1875px) {
      font-size: 26px;
      column-gap: 40px;
    }

    @media (any-hover: hover) {
      &:hover span {
        text-decoration: underline;
      }
    }

    &::before {
      font-size: 16px;
    }
  }
}