.article {

  &__slider {
    position: relative;
  }

  &__controlls {
    height: 100%;
    z-index: 2;
    pointer-events: none;
    display: flex;
    align-items: center;
    column-gap: 15px;
    justify-content: flex-end;

    @media (max-width: 767.98px) {
      position: absolute;
      top: 50%;
      height: 80%;
      width: 100%;
      transform: translate(0px, -60%);
      left: 0;
      justify-content: space-between;
      padding: 0px 15px;
    }

    @media (min-width: 767.98px) {
      margin-top: 25px;
    }

    @media (min-width: 1280px) {
      justify-content: space-between;
      margin: 0;
      width: 112%;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0px);
    }

    @media (min-width: 1875px) {
      width: 120%;
    }
  }

  &__controll {
    position: relative;
    z-index: 2;
    pointer-events: all;
    overflow: hidden;
    border-radius: 50%;
    transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
    border: 1px solid rgba(255, 255, 255);
    color: #fff;

    flex: 0 0 50px;
    height: 50px;
    font-size: 10px;

    @media (min-width: 374.98px) {
      flex: 0 0 60px;
      height: 60px;
      font-size: 12px;
    }

    @media (min-width: 767.98px) {
      font-size: 14px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      color: #000;
    }

    @media (min-width: 1280px) {
      flex: 0 0 60px;
      height: 60px;
      font-size: 12px;
    }

    @media (min-width: 1875px) {
      flex: 0 0 90px;
      height: 90px;
      font-size: 16px;
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: #000;
        color: #fff;
      }
    }

    &_left {
      transform: rotate(-90deg);
    }

    &_right {
      transform: rotate(90deg);
    }
  }
}