@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./fonts";
@import './variables';

body {
	background: $white;
	color: $black;
	font-family: "VelaSans", sans-serif;
	font-weight: 400;
}

.container {
	max-width: 1400px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}

.header-link {
	font-size: 26px;
	color: $white;
}

.header-content {
	position: absolute;
	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	width: 1000px;
}

.h1 {
	font-size: 90px;
	color: $white;
	text-align: center;
	font-weight: 400;
	
	&:first-letter {
		font-family: 'DRUZHOK';
	}
}

.lt-spacing {
	letter-spacing: -0.035em;
}