@use "sass:math";

.guest {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
  row-gap: 15px;

  border-top: 1px solid rgba(0, 0, 0, 0.2);

  &:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  @media (min-width: 767.98px) {
    padding: 25px 0px;
  }

  @media (min-width: 1875px) {
    padding: 35px 0px;
  }

  &_show {}

  &__actions {
    flex: 0 1 445px;
  }

  &__button {
    line-height: math.div(28, 26);
    letter-spacing: -0.035em;
    font-size: 20px;
    text-align: start;

    @media (min-width: 767.98px) {
      font-size: 16px;

      &::before {
        display: none;
      }
    }

    @media (min-width: 1875px) {
      font-size: 26px;
    }

    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__image {
    position: relative;
  }

  &__body {
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 15px;
    row-gap: 10px;
  }

  &__item {
    display: inline-flex;
    align-items: center;

    @media (min-width: 1280px) {
      column-gap: 15px;
    }

    @media (min-width: 1875px) {
      column-gap: 20px;
    }
  }

  &__icon {
    background-color: #F1F1F1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    font-size: 45px;
    color: #000;

    @media (min-width: 1875px) {
      width: 35px;
      height: 35px;
    }

    &_available {
      transform: rotate(-45deg);
      color: #fff;
      background-color: #F30202;
    }
  }

  &__name {
    line-height: math.div(26, 28);
    letter-spacing: -0.035em;
    color: #000000;
    opacity: 0.5;

    @media (min-width: 767.98px) {
      font-size: 16px;
    }

    @media (min-width: 1875px) {
      font-size: 26px;
    }
  }
}