@use "sass:math";

.adventages {
  padding: 40px 0px;

  &__container {}

  &__body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 0px;

    @media (min-width: 767.98px) {
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
      row-gap: 20px;
    }

    @media (min-width: 1280px) {
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }

    @media (min-width: 1875px) {
      grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    }
  }

  &__adventage {
    font-family: "VelaSans";
    letter-spacing: -0.035em;
    position: relative;

    @media (min-width: 767.98px) {
      padding: 15px 30px 25px;
    }

    @media (min-width: 1280px) {
      padding: 40px 35px 60px;
    }

    @media (min-width: 1875px) {
      padding: 40px 35px 60px;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      background-color: rgba(0, 0, 0, 0.4);
    }

    &::before {
      left: 0;
      height: 2px;
      width: calc(100% - 20px);
    }

    @media (min-width: 767.98px) {

      &::before,
      &::after {
        top: 0;
      }

      &::after {
        display: none;
      }

      &:not(:last-child) {
        &::after {
          display: block;
          right: 7.4px;
          top: 50%;
          transform: translateY(-50%);
          height: calc(100% - 35px);
          width: 2px;
        }
      }
    }

    @media (max-width: 767.98px) {
      padding-bottom: 25px;

      &::before,
      &::after {
        background-color: rgba(0, 0, 0, 0.2);
      }

      &::before {
        top: 0;
        width: calc(100% - 20px);
      }

      &::after {
        display: block;
        right: 7.4px;
        height: calc(100% - 35px);
        width: 2px;
        bottom: 0;
      }

      &:nth-child(-n+2) {
        &::before {
          display: none;
        }

        &::after {
          top: 0 !important;
          transform: none !important;
          height: calc(100% - 10px) !important;
        }
      }

      &:nth-child(n+3) {
        padding-top: 25px;
      }

      &:nth-child(n+2) {
        &::after {
          height: calc(100% - 10px);
        }
      }

      &:nth-child(even) {
        &::after {
          display: none !important;
        }

        &::before {
          right: 0;
          left: auto;
          width: calc(100% - 2px);
        }
      }
    }

  }

  &__title {
    font-size: 26px;
    line-height: math.div(95, 90);

    &:not(:last-child) {
      margin-bottom: 3px;
    }

    @media (min-width: 767.98px) {
      &:not(:last-child) {
        margin-bottom: 5px;
      }

      font-size: 32px;
    }

    @media (min-width: 1280px) {
      font-size: 60px;
    }

    @media (min-width: 1875px) {
      font-size: 90px;

    }
  }

  &__stars {
    display: flex;
    align-items: center;
    gap: 7px;

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    @media (min-width: 1280px) {
      &:not(:last-child) {
        margin-bottom: 18px;
      }
    }

    @media (min-width: 1875px) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }

  &__star {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    border-radius: 50%;
    overflow: hidden;
    color: #fff;
    flex: 0 0 25px;
    height: 25px;
    font-size: 30px;
    opacity: 0.4;

    @media (min-width: 374.98px) {
      flex: 0 0 30px;
      height: 30px;
      font-size: 35px;
    }

    @media (min-width: 1280px) {
      flex: 0 0 45px;
      height: 45px;
      font-size: 50px;
    }

    @media (min-width: 1875px) {
      flex: 0 0 65px;
      height: 65px;
      font-size: 75px;
    }

    &_active {
      opacity: 1;
      background-color: #F3D102;
    }
  }

  &__subtitle {
    line-height: math.div(28, 26);
    letter-spacing: -0.035em;
    opacity: 0.5;
    font-size: 10px;

    @media (min-width: 364.98px) {
      font-size: 12px;
    }

    @media (min-width: 1280px) {
      font-size: 16px;
    }

    @media (min-width: 1875px) {
      font-size: 26px;
    }
  }
}