.preview {
  padding-bottom: 25px;

  @media (min-width: 767.98px) {
    padding-bottom: 40px;
  }

  @media (min-width: 1280px) {
    padding-bottom: 70px;
  }

  @media (min-width: 1875px) {
    padding-bottom: 100px;
  }
}